
:root{
    --gridcolor : #2D1F45;
    --activeCellColor : #FFE200;
    --highlightCellColor : #9D7E00;
    --clearColor : #1B0B36;
    --btnGlowColor:#592861;
    --btnHoverColor:#2D0734;
    --bg:#291943;
    --pop:drop-shadow(3px 3px 4px var(--btnHoverColor))
}

body{
  margin:0;
  padding:0;
  background: var(--bg);
}
canvas{
  position:relative;
  box-sizing:border-box;
  cursor: pointer;
  filter: var(--pop);
  border-radius: 10px;
}

button{
  min-width: 25px;
    border-radius: 10px;
    background-color: var(--gridcolor);
    color:var(--highlightCellColor);
    border: var(--gridcolor) solid 1px;
    
    filter: drop-shadow(3px 3px 4px var(--clearColor))
}

button:hover{
    background: var(--btnHoverColor);
    color:var(--activeCellColor);
    border: solid 1px var(--gridcolor);
    color: var(--activeCellColor);
    filter: drop-shadow(3px 3px 4px var(--btnGlowColor));
}

button:active{
    background: var(--clearColor);
    
    filter: drop-shadow(2px 2px 1px var(--clearColor))
}


button:disabled,
button[disabled]{
  border: 1px solid var(--btnGlowColor);
  background-color: var(--btnGlowColor);
  color: #666666;
}

button:disabled,
button[disabled]:hover{
  border: 1px solid var(--btnGlowColor);
  background-color: var(--btnGlowColor);
  color: #666666;
  filter:var(--pop)
}

#inp-grid-size{
  width: 60px;
  text-align: right;
  background: var(--bg);
  border:none;
  color:var(--highlightCellColor)
}
label{
  
  color:var(--highlightCellColor)
}

btn-container{
    position: relative;
    display:inline-block;
    padding-top: 5rem;
}

#node-table{
    border-radius: 10px;
    background-color: var(--clearColor);
    color:var(--activeCellColor);
    min-width:400px;
    border-spacing: 3rem;
    /* filter:drop-shadow(3px 3px 4px var(--clearColor)); */
    
  filter: var(--pop);
}
th ,td {
    padding: 1em;
}

tr:nth-child(even){
    background-color: var(--gridcolor);
}
